@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto-light-webfont.woff') format('woff'),
        url('../../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: 400;
    font-style: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../../fontsroboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: 700;
    font-style: 700;
}