@media screen and (max-width: 1025px) {
    .header {
        top: 30px;
    }

    .seventh-section__wrapper {
        left: 55%;
    }

    .nine-section {
        &__content {
            height: 1200px;

            &--3 {
                display: none;
            }
        }
    } 
}

@media screen and (max-width: 769px) {
    .seventh-section{
        &__wrapper {
            left: 77%;
        }

        &__slide--active {
            width: 500px;
        }

        &__progress-bar {
            width: 500px;
        }

        &__prev {
            right: unset;
            left: 50px;
        }

        &__next {
            right: 50px;
        }
    } 

    .nine-section__content div {
        width: 300px;
    }

    .footer__list {
        height: 100%;
        position: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;

        & li {
            margin: 20px;
        }
    }
}

@media screen and (max-width: 415px) {
    .pen {
        display: none;
    }

    .container {
        width: 90%;
    }

    .header {
        &__list {
            &--text {
                display: none;
            }
        }
    }

    .first-section {
        &__block:last-child {
            display: none;
        }

        &__link {
            font-size: 12px;
        }

        &__img {
            margin: 0 25px;
        }
    }

    .second-section {
        display: flex;
        flex-direction: column-reverse;

        &__block {
            width: 100%;

            &--left {
                height: 45%;
            }

            &--right {
                height: 55%;
                padding: 10px 0;
                justify-content: center;
            }
        }
        
        &__title {
            &--bg {
                margin-bottom: 25px;
                font-size: 25px;
            }
        }

        &__text {
            font-size: 13px;
        }

        &__content {
            padding: unset;
            justify-content: center;
        }
    }

    .third-section {
        display: flex;
        flex-direction: column;

        &__block {
            width: 100%;

            &--left {
                height: 60%;
            }

            &--right {
                height: 40%;
            }

            &--wrap {
                width: 90%;
            }
        }

        &__title {
            margin-bottom: 20px;

            &--sm::after {
                display: none;
            }
        }

        &__text {
            margin-bottom: 10px;
            font-size: 12px;
            line-height: 15px;
        }

        &__content {
            padding: unset;
            justify-content: center;
            align-items: center;
        }
    }

    .fourth-section {
        display: flex;
        flex-direction: column-reverse;

        &__block {
            width: 100%;

            &--left {
                height: 40%;
            }

            &--right {
                height: 60%;
            }
        }

        &__title--sm::after {
            display: none;
        }

        &__text {
            margin: 20px 0 !important;
            font-size: 15px;
            width: 70%;
        }

        &__content {
            padding: unset;
            justify-content: center;
            & * {
                margin: unset;
            }
        }
    }

    .fifth-section {
        
        &__left {
            width: 70%;
        }

        &__right {
            width: 30%;
        }

        &__title {
            margin: 0 0 55px;
            font-size: 20px;
            width: 90%;
            line-height: 30px;
        }

        &__text {
            width: 90%;
            font-size: 12px;
        }
        
    }

    .sixth-section {
        &__left {
            width: 50%;
            padding: 10px;

            & h2 {
                font-size: 25px;
            }
        }

        &__right {
            width: 50%;
        }

        &__top {
            &--left {
                display: none;
            }
            &--right {
                width: 100%;
                padding: 10px;
            }
        } 

        &__text {
            font-size: 13px;
        }
    }

    .seventh-section {

        &__title {
            font-size: 27px;
        }

        &__slider {
            height: 300px;
        }

        &__wrapper {
            left: 99%;
        }

        &__slide {
            padding: 20px;
            font-size: 13px;

            &--active {
                width: 300px;
                height: 400px;
            }
        }

        &__buttons {
            top: 30%
        }

        &__prev {
            left: 30px;
        }

        &__next {
            right: 30px;
        }

        &__progress-bar {
            width: 300px;
        }
    } 

    .eighth-section {
        &__prev, &__next {
            top: 226px;
        }

        &__slide {
            width: 330px;

            &--content {
                font-size: 13px;
            }
        }
    }

    .nine-section {
        &__content {
            height: unset;
            width: 90%;
            flex-wrap: unset;
            justify-content: unset;
            align-content: center;

            & div {
                margin: 10px 0;
            }

            &--3 {
                display: flex;
            }
        }
    }

    .footer {
        &__top {
            height: 75%;
        }
        
        &__list {
            & li {
                margin: 9px;
            }
        }
        
        &__bottom {
            height: 25%;
        }

        &__bottom {
            &--wrapper {
                flex-wrap: wrap-reverse;

                & div {
                    align-items: center;
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .third-section {

        &__block {
            &--left {
                align-items: flex-end;
            }
        }

        &__num {
            font-size: 25px;
        }

        &__title {
            font-size: 21px;
        }
    }
}